= form_for @update_comment, remote: true, html: {class: "form-horizontal",role: 'form'} do |f|
  = f.text_area :text, class: 'block'
  = f.submit "Редактировать", class: 'btn btn-success up' , id: "comment_id_#{@update_comment.id}"