= form_for @comment, remote: true, html: {class: "form-horizontal clearfix",role: 'form'} do |f|
  = f.text_area :text, class: 'block'
  = f.submit "Редактировать", class: 'btn btn-info up' , id: "comment_id_#{@comment.id}"