%ol.breadcrumb.col-lg-3.col-md-4.col-sm-8.col-xs-8
  - breadcrumb.each_with_index do |(href,title), index|
    - if breadcrumb.size - 1 == index
      %li.active=title
    - else
      %li
        %a{:href => href}=title


