%section.middle.container
  .page-header
    %h1.text-center
      = t('.adverts')
  .row
    = render partial: "shared/adverts", collection: @all_adverts
  .cleafix.paginate
    = paginate @all_adverts, html: {class: 'cleafix'}